{% capture favicon_path %}{{ '/assets/img/favicons' | relative_url }}{% endcapture %}

<link rel="apple-touch-icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg">
<link rel="icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg">
<link rel="shortcut icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#ff4747">
<meta name="theme-color" content="#ff4747">