<!--
  The Head
-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include gtag.html %}
  {% if page.layout == 'home' or page.layout == 'post' %}

  {% if site.google_analytics.pv.proxy_endpoint %}
  <meta name="pv-proxy-endpoint" content="{{ site.google_analytics.pv.proxy_endpoint }}">
  {% endif %}

  {% if site.google_analytics.pv.cache_path %}
  <meta name="pv-cache-path" content="{{ site.google_analytics.pv.cache_path | relative_url }}">
  {% endif %}

  {% endif %}


  {% if page.image %}
  {% assign img = page.image.path | default: page.image %}

  {% unless img contains '://' %}
  {% assign img_path = page.img_path | append: '/' | append: img | replace: '//', '/' %}
  {% capture target %}"{{ img | absolute_url }}"{% endcapture %}

  {% if site.img_cdn contains '//' %}
  <!-- it's a cross-origin URL -->
  {% capture replacement %}"{{ site.img_cdn }}{{ img_path }}"{% endcapture %}
  {% else %}
  <!-- it's a local file path -->
  {%- capture replacement -%}
  "{{ site.img_cdn | append: '/' | append: img_path | replace: '//', '/' | absolute_url }}"
  {%- endcapture -%}
  {% endif %}

  {% endunless %}

  {% endif %}

  <meta property="og:title" content="{{page.title}}" />
  <meta name="author" content="{% if page.author %}@{{page.author}}{% else %}The yEAh Network{% endif %}" />
  <meta property="og:locale" content="en-ca" />
  {% assign first_paragraph = page.content | strip_html | strip_newlines | truncate: 150, "..." %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta name="og:description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ first_paragraph }}">
  <meta name="og:description" content="{{ first_paragraph }}">
  {% endif %}
  <link rel="canonical" href="{% if page.link %}{{page.link}}{% else %}{{page.url | absolute_url}}{% endif %}" />
  <meta property="og:url" content="{{page.url | absolute_url}}" />
  <meta property="og:site_name" content="The yEAh Library" />

  {% if page.image %}
  {% assign featuredimage = page.image %}
  {% elsif page.featimg %}
  {% assign featuredimage = page.featimg %}
  {% else %}
  {% assign first_image = page.content | split: '<img ' | last | split: ' src="' | last | split: '"' | first %}
  {% assign featuredimage = first_image %}
  {% endif %}

  <meta property="og:image" content="{% if featuredimage contains 'http://' or featuredimage contains 'https://' %}{{featuredimage}}
{% else %}{% if page.c contains 'news' %}https://news.yeahgames.net/{{featuredimage}}{% endif %}{% endif %}" />
  <meta property="og:type" content="article" />

  {% assign formatted_date = page.date | date: "%Y-%m-%dT%H:%M:%S%z" %}

  <meta property="article:published_time" content="{{formatted_date}}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:image" content="{% if featuredimage contains 'http://' or featuredimage contains 'https://' %}{{featuredimage}}
  {% else %}{% if page.c contains 'news' %}https://news.yeahgames.net/{{featuredimage}}{% endif %}{% endif %}" />
  <meta property="twitter:title" content="{{page.title}}" />
  <meta name="twitter:site" content="@yEAhGames_" />
  <meta name="twitter:creator" content="@yEAhGames_" />
  <script type="application/ld+json">
{"@context":"https://schema.org","@type":"BlogPosting","author":{"@type":"Person","name":"{{page.author}}"},"dateModified":"{{formatted_date}}","datePublished":"{{formatted_date}}","description":"{% if page.description %}{{page.description}}{% else %}{{first_paragraph}}{% endif %}","headline":"{{page.title}}","image":"{% if featuredimage contains 'http://' or featuredimage contains 'https://' %}{{featuredimage}}
{% else %}{% if page.c contains 'news' %}https://news.yeahgames.net/{{featuredimage}}{% endif %}{% endif %}","mainEntityOfPage":{"@type":"WebPage","@id":"{{page.url | absolute_url}}"},"url":"{{page.url | absolute_url}}"}</script>

  <title>
    {%- unless page.layout == "home" -%}
    {{ page.title | append: " | "}}
    {%- endunless -%}
    {{ site.title }}
  </title>

  {% include favicons.html %}

  {% if site.resources.ignore_env != jekyll.environment and site.resources.self_hosted %}

  <link href="{{ site.data.assets[origin].webfonts | relative_url }}" rel="stylesheet">

  {% else %}

  {% for cdn in site.data.assets[origin].cdns %}
  <link rel="preconnect" href="{{ cdn.url }}" {{ cdn.args }}>
  <link rel="dns-prefetch" href="{{ cdn.url }}" {{ cdn.args }}>
  {% endfor %}

  <link rel="stylesheet" href="{{ site.data.assets[origin].webfonts | relative_url }}">

  {% endif %}

  <!-- GA -->
  {% if jekyll.environment == ' production' and site.google_analytics.id !=empty and site.google_analytics.id %} <link
    rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">

  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">

  {% if site.google_analytics.pv.proxy_endpoint %}
  {% assign proxy_url = site.google_analytics.pv.proxy_endpoint
  | replace: "https://", "" | split: "/" | first | prepend: "https://" %}
  <link rel="preconnect" href="{{ proxy_url }}" crossorigin="use-credentials">
  <link rel="dns-prefetch" href="{{ proxy_url }}">
  {% endif %}
  {% endif %}

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.data.assets[origin].bootstrap.css | relative_url}}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ site.data.assets[origin].fontawesome.css | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% if site.toc and page.toc %}
  <link rel="stylesheet" href="{{ site.data.assets[origin].bootstrap-toc.css | relative_url }}">
  {% endif %}

  {% if page.layout == 'page' or page.layout == 'post' %}
  <!-- Manific Popup -->
  <link rel="stylesheet" href="{{ site.data.assets[origin].magnific-popup.css | relative_url }}">
  {% endif %}

  <!-- JavaScript -->

  <script src="{{ site.data.assets[origin].jquery.js | relative_url }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var searchResultWrapper = document.getElementById('search-result-wrapper');
      var mainDiv = document.getElementById('main');

      function handleClassChange() {
        if (searchResultWrapper.classList.contains('unloaded')) {
          mainDiv.style.display = '';
        } else {
          mainDiv.style.display = 'none';
        }
      }

      handleClassChange();

      var observer = new MutationObserver(handleClassChange);
      observer.observe(searchResultWrapper, { attributes: true });
    });

  </script>

  {% unless site.theme_mode %}
  {% include mode-toggle.html %}
  {% endunless %}
</head>