<html>
<!--
  The Top Bar
-->
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

<!-- START NAVBAR --> 
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
   <a href="https://yeah-games.github.io/" class="w3-bar-item w3-button w3-red w3-hover-pale-red"><i class="fa fa-server w3-margin-right"></i>Network</a>
   <a href="https://library.yeahgames.net" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-archive w3-margin-right"></i>The Archives</a>
   <a href="https://yeah-games.github.io/chat" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-wechat w3-margin-right"></i>Chat</a>
   <a href="https://yeah-games.github.io/yible" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-book w3-margin-right"></i>The Yible</a>
   <a href="https://news.yeahgames.net" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-newspaper-o w3-margin-right"></i>News</a>
   <a href="https://docs.yeahgames.net" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-question w3-margin-right"></i>Docs</a>
   <a href="https://shop.yeahgames.net" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-shopping-cart w3-margin-right"></i>Shop</a>
   <a href="https://admin.yeahgames.net" target=”_blank” class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red"><i class="fa fa-lock w3-margin-right"></i>Admin</a>


    <!--Dropdown: Social-->

   <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Follow yEAh Games on social media!"><i class="fa fa-mobile-phone w3-margin-right"></i>Social <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="https://dsc.gg/yeahgames"  target="_blank" class="w3-bar-item w3-button"><i class="fa fa-wechat w3-margin-right"></i>Discord</a>
      <a href="https://youtube.com/@yeahgames"  target="_blank" class="w3-bar-item w3-button"><i class="fa fa-youtube-play w3-margin-right"></i>YouTube</a>
      <a href="https://reddit.com/r/yeahgames" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-reddit w3-margin-right"></i>Reddit</a>
      <a href="https://twitter.com/yeahgames_" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-twitter w3-margin-right"></i>Twitter</a>
      <a href="https://instagram.com/_yeahgames" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-instagram w3-margin-right"></i>Instagram</a>
    </div>
  </div>

    <!--Dropdown: Deprecated-->
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Deprecated yEAh Games websites (out-of-date; not updated)"><i class="fa fa-close w3-margin-right"></i>Deprecated <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="https://yeaharchives.wordpress.com"  target=”_blank” class="w3-bar-item w3-button"><i class="fa fa-archive w3-margin-right"></i>Discontinued archives</a>
      <a href="https://yeah-games.weebly.com"  target=”_blank” class="w3-bar-item w3-button"><i class="fa fa-desktop w3-margin-right"></i>Discontinued website</a>
      <a href="https://yeahgames.neocities.org"  target=”_blank” class="w3-bar-item w3-button"><i class="fa fa-user-secret w3-margin-right"></i>Discontinued secret site</a>
      <a href="https://livechat1-yeaharchives.weebly.com"  target=”_blank” class="w3-bar-item w3-button"><i class="fa fa-wechat w3-margin-right"></i>Discontinued LiveChat</a>
      <a href="https://yible.neocities.org"  target=”_blank” class="w3-bar-item w3-button"><i class="fa fa-book w3-margin-right"></i>Discontinued Yible</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red" title="Search"><i class="fa fa-search"></i></a>
</div>


<!--END NAVBAR-->


<div id="topbar-wrapper">
  <div id="topbar" class="container d-flex align-items-center justify-content-between h-100 pl-3 pr-3 pl-md-4 pr-md-4">
    <span id="breadcrumb">

    {% assign paths = page.url | split: '/' %}

    {% if paths.size == 0 or page.layout == 'home' %}
      <!-- index page -->
      <span>{{ site.data.locales[site.lang].tabs.home | capitalize }}</span>

    {% else %}

      {% for item in paths %}

        {% if forloop.first %}
          <span>
            <a href="{{ '/' | relative_url }}">
              {{ site.data.locales[site.lang].tabs.home | capitalize }}
            </a>
          </span>

        {% elsif forloop.last %}

          {% if page.collection == 'tabs' %}
            <span>{{ site.data.locales[site.lang].tabs[item] | default: page.title }}</span>
          {% else %}
            <span>{{ page.title }}</span>
          {% endif %}

        {% elsif page.layout == 'category' or page.layout == 'tag' %}
          <span>
            <a href="{{ item | relative_url }}">
              {{ site.data.locales[site.lang].tabs[item] | default: page.title }}
            </a>
          </span>
        {% endif %}

      {% endfor %}

    {% endif %}

    </span><!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.data.locales[site.lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[site.lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[site.lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search"
        aria-label="search" autocomplete="off" placeholder="{{ site.data.locales[site.lang].search.hint | capitalize }}...">
    </span>
    <span id="search-cancel" >{{ site.data.locales[site.lang].search.cancel }}</span>
  </div>

</div>
</body>
</html>