---
layout: page
---
<div id="page-category">
    <h1 class="pl-lg-2" title="Version history for item '{{page.uid}}'">
        <i class="fa-solid fa-clock-rotate-left"></i>
        {{ page.uid }} &#160;
        <a class="tag" style="border-radius:0.5rem!important;border-color:#1d1f24">
            Versions
        </a>
        <span class="lead text-muted pl-2">
            {% assign post_count = 0 %}
            {% for post in site.posts %}
                {% if post.uid == page.uid %}
                    {% assign post_count = post_count | plus: 1 %}
                {% endif %}
            {% endfor %}
            {{ post_count }}
        </span>        
    </h1>

    <ul class="post-content pl-0">
        {% for post in site.posts %}
        {% if post.uid == page.uid %}
        <li class="d-flex justify-content-between pl-md-3">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="dash flex-grow-1"></span>
            {% include datetime.html date=post.date wrap='span' class='text-muted small' %}
            <a {% if post.currentversion %}title="Current version"{% else %}title="Old version"{% endif %} style="cursor:text!important;border-bottom:none!important;margin-left: 0.8rem;{% if post.currentversion %}background-color:#5e9c00;{% else %}background-color: #ff4747;{% endif %}color: white!important;border-radius: 0.5rem;padding-left: 0.45rem;padding-right: 0.45rem;padding-top: 0.15rem;padding-bottom: 0.15rem;">Version {{post.v}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>